<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> E3 | G53&G56 BDD </title>
    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->

    <!-- para que sea index.php pueda importarlo -->
    <link rel="stylesheet" href="styles/estilos_diaz.css">
    <!-- para que una consulta.php pueda importarlo -->
    <link rel="stylesheet" href="../styles/estilos_diaz.css">
</head>

<body>

    <div class="grid-titulo">
        <div></div>
        <div><img src="styles/banana.gif" width="170" height="170"></div>
        <div> <h1> Bases de datos </h1> </div>
        <div><img src="styles/banana.gif" width="170" height="170"></div>
        <div></div>
        <div></div>
        <div></div>
        <div> <h3> Grupo 53 y 56 | Entrega 3 </h3> 
              <h1> Sebastián Díaz, Martín Alarcón</h1> </div>
              <h1> Florencia Bianchi, VIctoria Contardo</h1> </div>
        <div></div>
        <div></div> 
      </div>

</body>