<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> E3 | G53&G56 BDD </title>
    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->

    <!-- para que sea index.php pueda importarlo -->
    <link rel="stylesheet" href="styles/estilos_diaz.css">
    <!-- para que una consulta.php pueda importarlo -->
    <link rel="stylesheet" href="../styles/estilos_diaz.css">
</head>

<body>
<div class="grid-botones">
    <div></div>

    <div>

        <form action="perfil.php" method="get">
            <input type="submit" value="Mi Perfil" id = "botonB">
        </form>
    </div>
    <div><form action="index.php" method="get">
        <input type="submit" value="LogOut" id = "botonB">
    </form></div>
    
    <div></div>
  </div>


