<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> E3 | G53&G56 BDD </title>
    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->

    <!-- para que sea index.php pueda importarlo -->
    <link rel="stylesheet" href="styles/estilos_diaz.css">
    <!-- para que una consulta.php pueda importarlo -->
    <link rel="stylesheet" href="../styles/estilos_diaz.css">
</head>

<body>

    <div class="grid-titulo">
        <div></div>
        <div><img src="styles/banana.gif" width="150" height="140"></div>
        <div>
        <h1> Bases de datos </h1> 
        <h3> Grupo 53 y 56 | Entrega 3 </h3>
        </div>
        <div><img src="styles/banana.gif" width="150" height="140"></div>
        <div></div>
      </div>

</body>