<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> E3 | G53&G56 BDD </title>
    <!-- Bootstrap(CSS), Jquery (javascripts), etc... -->

    <!-- para que sea index.php pueda importarlo -->
    <link rel="stylesheet" href="styles/estilos_diaz.css">
    <!-- para que una consulta.php pueda importarlo -->
    <link rel="stylesheet" href="../styles/estilos_diaz.css">
</head>

<style>
    #botonL {
  background-color: #f3c733; 
  color: black; 
  height:40px; 
  width:200px;
  text-decoration: none; 
  border-radius: 12px; 
  font-size: 20px; 
  margin: 3px; 
  cursor: pointer;
}

.grid-titulo {
    display: grid;
    grid-template-columns: auto 250px 300px 250px auto;
    grid-template-rows: 180px;
    grid-gap: 1px;
    padding: 1px;
    font-size: 20px;
  }

</style>

<body>
<div class="grid-botones">
    <div></div>

    <div>

        <form action="perfil.php" method="get">
            <input type="submit" value="Mi Perfil" id = "botonB">
        </form>
    </div>
    <div><form action="index.php" method="get">
        <input type="submit" value="LogOut" id = "botonB">
    </form></div>
    
    <div></div>
  </div>


